:root {
  --dark-blue: #061e3d;
  --blue: #0a4b77;
  --cyan: #0d6c86;
  --dark-green: #075a48;
  --light-red: #88290c;
  --light-gray: #aaa;
  --light: #eee;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  background-color: #ddd;
  padding: 0 1rem;
  margin: 0.2rem 0;
  border-left: 1rem solid var(--light-red);
}

.todoInputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.todoText {
  font-size: 1rem;
  width: 60%;
  justify-self: flex-start;
}

.todoDelete {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.todoCheck {
  color: black;
  width: 10%;
}

.todoStatus {
  color: #e50;
  width: 20%;
}

.todoInput {
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.4rem;
  width: 100%;
  border: 2px solid #7c1d0c;
  border-radius: 5px;
}

.todoDelete svg {
  color: var(--blue);
  margin-top: 2px;
  font-size: 1.5rem;
  transition: color 0.5s;
}

.todoDelete svg:hover {
  color: var(--light-red);
}
