.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #ddd;
  padding: 0 1rem;
  margin: 0.2rem 1rem;
  border-left: 1rem solid #7c2009;
  gap: 5%; 
}

.todoInputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  width: 95%;
}

.todoText {
  font-size: 1rem;
  width: 70%;
  justify-self: flex-start;
}

.todoDelete {
  background-color: transparent;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.todoCheck {
  color: black;
  width: 10%;
}

.todoStatus {
  color: #ee5500;
  width: 20%;
}

.todoInput {
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0.4rem;
  width: 100%;
  border: 2px solid #7c1d0c;
  border-radius: 5px;
}

.todoDelete svg {
  color: darkcyan;
  font-size: 20px;
  margin-top: 2px; 
  font-size: 1.5rem;
  transition: color 0.5s;
}

.todoDelete svg:hover {
  color: rgb(155, 7, 7);
}
