@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-blue: #061e3d;
  --blue: #0a4b77;
  --cyan: #0d6c86;
  --dark-green: #075a48;
  --light-red: #88290c;
  --light-gray: #aaa;
  --light: #eee;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: var(--dark-blue);
  font-family: Roboto, serif;
  background-color: var(--light);
}

#root {
  margin: 0;
  padding: 0;
}

.todo-holder {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.completed-todos,
.ondue-todos {
  margin: 1rem;
  width: 45vw;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.navBar {
  position: relative;
}

.navBar button {
  background-color: transparent;
  border: none;
  position: fixed;
  left: 0;
  top: 1.5rem;
  z-index: 10;
  padding: 0;
  cursor: pointer;
}

.menuNav {
  margin: 0;
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.todo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 0 50px;
}

.about-page {
  padding: 8rem 40px;
  display: flex;
}

.about-list {
  list-style: none;
  flex: 2;
  margin-right: 15px;
}

.about-list a {
  color: #9f9f9f;
  text-transform: capitalize;
  padding: 20px 0;
  font-weight: 600;
}

.about-list a:hover {
  color: #000;
}

.main-content {
  flex: 7;
}

.main-content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main-content p {
  line-height: 25px;
}

.todo-section-header,
.completed-section-header {
  background-color: var(--light-red);
  color: var(--light);
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  border-radius: 5px;
}

.completed-section-header {
  background-color: var(--dark-green);
}
