.todoForm {
  margin: 0.2rem 5rem;
  display: flex;
  justify-content: center;
  width: 50vw;
}

.todoInput {
  font-size: 1rem;
  padding: 1rem;
  width: 95%;
}

.todoAdd {
  padding: 0.75rem;
}

.todoAdd svg {
  color: darkcyan;
  font-size: 1.5rem;
  margin-top: 2px;
}
